{% extends "shop/base.html" %}
{% load static %}
{% block title %}
Talla Global - About us
{% endblock %}

{% block content %}

<div class="row" style="margin-top: 6%">

<div class="col-md-4" align = "center">

<h4>Modesty</h4>
<p>Humbleness proves that we’re not always right, we don’t have all the answers, and we know it. We’re no less human than the people who work for us, and we’re not afraid to ask for help.</p>

</div>

<div class="col-md-4" align = "center">
<h4>Honesty</h4>
  <p>
Integrity is the cornerstone of all the above. We set and observe high ethical standards and do the right thing. We perform duty of care, not only to our customers, other stakeholders and to the communities we serve, but also to our colleagues and ourselves.
 </p>

</div>

<div class="col-md-4" align = "center">

  <h4>Mission</h4>
  <ol>Offering quality and comprehensive solutions to our customers.<ol>
  <ol>Building customer loyalty and long-term partnership with our suppliers<ol>

</div>

</div>
<br>

{% include "shop/highchart.html" %}


{% endblock %}
